header {
  background-image: url('../images/background.jpg');
  height: 90vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#inputbox {
  background-color: bisque;
  height: 100px;
  
}
li {
  /*overflow: hidden;*/
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  color: rebeccapurple;
}
li > label {
  font-size: 18px;
  line-height: 20px;
  width: 800px;
  padding: 0 0 0 15px;
}
li > input[type="checkbox"] {
  margin: 0 10px;
  position: relative;
 
}
input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  background: rgb(247, 129, 129);
  color: white;
  
}
